<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Jorg Janke (ComPiere, Inc.) -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
	<display-name>iDempiere Web Application</display-name>
	<description>$Id: web.xml,v 1.1 2009/04/15 11:30:04 vinhpt Exp $</description>
	<context-param>
		<param-name>AD_Client_ID</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>ServerApps</param-name>
		<param-value>1</param-value>
	</context-param>
<filter>
		<display-name>iDempiere Web Filter</display-name>
		<filter-name>WFilter</filter-name>
		<filter-class>org.compiere.mobile.WFilter</filter-class>
		<init-param>
			<param-name>Timing</param-name>
			<param-value>Y</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WFilter</filter-name>
		<url-pattern>/*</url-pattern>
</filter-mapping>
	<servlet>
  	  <servlet-name>DisplayChart</servlet-name> 
      <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class> 
    </servlet>  
	<servlet>
		<display-name>Login Dynamic Update</display-name>
		<servlet-name>LoginDynUpdate</servlet-name>
		<servlet-class>org.compiere.mobile.LoginDynUpdate</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Field Update</display-name>
		<servlet-name>WFieldUpdate</servlet-name>
		<servlet-class>org.compiere.mobile.WFieldUpdate</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Location</display-name>
		<servlet-name>WLocation</servlet-name>
		<servlet-class>org.compiere.mobile.WLocation</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Login</display-name>
		<servlet-name>WLogin</servlet-name>
		<servlet-class>org.compiere.mobile.WLogin</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<display-name>iDempiere Lookup</display-name>
		<servlet-name>WLookup</servlet-name>
		<servlet-class>org.compiere.mobile.WLookup</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Menu</display-name>
		<servlet-name>WMenu</servlet-name>
		<servlet-class>org.compiere.mobile.WMenu</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Process</display-name>
		<servlet-name>WProcess</servlet-name>
		<servlet-class>org.compiere.mobile.WProcess</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Report</display-name>
		<servlet-name>WReport</servlet-name>
		<servlet-class>org.compiere.mobile.WReport</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Zoom</display-name>
		<servlet-name>WZoom</servlet-name>
		<servlet-class>org.compiere.mobile.WZoom</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Help</display-name>
		<servlet-name>WHelp</servlet-name>
		<servlet-class>org.compiere.mobile.WHelp</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere Start</display-name>
		<servlet-name>WStart</servlet-name>
		<servlet-class>org.compiere.mobile.WStart</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<display-name>iDempiere Application Window</display-name>
		<servlet-name>WWindow</servlet-name>
		<servlet-class>org.compiere.mobile.WWindow</servlet-class>
	</servlet>
	<servlet>
		<display-name>iDempiere FindAdv</display-name>
		<servlet-name>WFindAdv</servlet-name>
		<servlet-class>org.compiere.mobile.WFindAdv</servlet-class>
	</servlet>
    <servlet-mapping>
      <servlet-name> DisplayChart </servlet-name> 
      <url-pattern>/DisplayChart</url-pattern> 
    </servlet-mapping> 
	<servlet-mapping>
		<servlet-name>LoginDynUpdate</servlet-name>
		<url-pattern>/LoginDynUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WFieldUpdate</servlet-name>
		<url-pattern>/WFieldUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WLocation</servlet-name>
		<url-pattern>/WLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WLogin</servlet-name>
		<url-pattern>/WLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WLookup</servlet-name>
		<url-pattern>/WLookup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WMenu</servlet-name>
		<url-pattern>/WMenu</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WProcess</servlet-name>
		<url-pattern>/WProcess</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WReport</servlet-name>
		<url-pattern>/WReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WZoom</servlet-name>
		<url-pattern>/WZoom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WHelp</servlet-name>
		<url-pattern>/WHelp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WWindow</servlet-name>
		<url-pattern>/WWindow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WFindAdv</servlet-name>
		<url-pattern>/WFindAdv</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>WMenu</welcome-file>
	</welcome-file-list>
</web-app>
