<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            class="org.idempiere.mobile.DefaultHttpContext"
            id="org.idempiere.mobile">
      </httpcontext>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/WMenu"
            class="org.compiere.mobile.WMenu"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WStart"
            class="org.compiere.mobile.WStart"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WLogin"
            class="org.compiere.mobile.WLogin"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WForm"
            class="org.compiere.mobile.WForm"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WWindow"
            class="org.compiere.mobile.WWindow"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/LoginDynUpdate"
            class="org.compiere.mobile.LoginDynUpdate"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WStatus"
            class="org.compiere.mobile.WStatus"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WError"
            class="org.compiere.mobile.WError"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WFieldUpdate"
            class="org.compiere.mobile.WFieldUpdate"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WFindAdv"
            class="org.compiere.mobile.WFindAdv"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WZoom"
            class="org.compiere.mobile.WZoom"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WWorkflow"
            class="org.compiere.mobile.WWorkflow"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WTask"
            class="org.compiere.mobile.WTask"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WLookup"
            class="org.compiere.mobile.WLookup"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WLocation"
            class="org.compiere.mobile.WLocation"
            httpcontextId="org.idempiere.mobile">
      </servlet>
      <servlet
            alias="/WHelp"
            class="org.compiere.mobile.WHelp"
            httpcontextId="org.idempiere.mobile">
      </servlet>
   </extension>

</plugin>
